@import '../base';

.appTitle {
  height: 20px;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 0;
}

.pageContents {
  position: absolute;
  top: 30px;
  bottom: 50px;
  right: 0;
  left: 0;
  overflow: scroll;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .footerItem {
    margin: 16px auto;
    color: #bbb;
    @extend .clickable;

    &.footerActive {
      color: #fff;
      font-weight: bold;
    }

    &:hover {
      color: #ccc;
    }
  }
}

.diceModalContainer {
  position: absolute;
  right: 40px;
  bottom: 50px;
  border: 2px solid #333;
  border-bottom: none;
  background-color: white;
  padding: 16px;
  text-align: center;

  .diceSuccesses {
    font-size: 60px;
    font-weight: bold;
    color: #333;

    &.active {
      color: black;
    }
  }

  .diceModalLabel {
    font-size: 10px;
  }


  .changeDiceButtons {
    margin: 12px 0;
  }

  .diceInfo {
    text-align: left;
  }
}