.characterName {
  background: darkgray;
  text-align: center;
  border-top: 2px solid black;
  padding: 4px 0;
  cursor: pointer;
}

.characterStateIcon {
  padding-right: 8px;
}

.characterStatSection {
  margin-bottom: 8px;
}