@import '../base';

.boonsKnacksPage {
  display: flex;
  flex-flow: row nowrap;
}

.sectionContainer {
  width: 50%;
  margin: 12px;
}

.cardList {
  display: flex;
  flex-flow: row wrap;
}

.cardContainer {
  border: 1px solid #666;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;

  .controlContainer {
    float: right;

    .controlItem {
      float: left;
      font-size: 16px;
      margin: 0 4px;
    }
  }

  .title {
    font-weight: bold;
  }

  .descriptionContainer {
    margin-top: 8px;
    padding-top: 8px;
    border-top: dashed 1px #aaa;
    font-size: 12px;
  }
}