@import '../base';
.abilityCard {
  margin: 4px 12px;

  .favoredBox {
    float: left;
    width: 30px;
  }

  .titleContainer {
    width: 110px;
    overflow: hidden;
  }

  .boxesContainer {
    display: flex;
    width: 150px;
    float: right;
  }
}