button {
  font-size: 14px;
}

.header {
  text-align: center;
  padding: 4px;
  font-weight: bold;
  background-color: aliceblue;
}

.cardGroupRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cardGroupStack {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  height: 300px;
}

.cardGroup {
  width: 300px;
  margin: 12px;

  .groupTitle {
    font-weight: bold;
    text-align: center;
  }
}

.card {
  width: 300px;

  .cardTitle {
    float: left;
    margin-left: 4px;
    font-weight: bold;
  }

  .cardSubtitle {
    margin-right: 4px;
    text-align: right;
    font-style: italic;
  }
}

.btn:hover {
  color: #999;
}

.modalClose {
  float: right;
}

.form {
  .inputRow {
    display: flex;
    clear: left;
    margin: 4px 0;
  }

  .label {
    width: 100px;
  }

  .formButton {
    margin-left: 100px;
  }

  .input {
    float: left;

    input, textarea, select{
      font-size: 14px;
      width: 280px;
    }

    textarea {
      height: 100px;
    }
  }
}

@media only screen and (max-device-width : 980px) {
  .cardGroupStack {
    height: auto;
  }
}
